.profile__edit-button {
  background-image: url('../../../image/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7.5px;
  width: 18px;
  height: 18px;
  padding: 0;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  background-color: black;
  margin: 0;
  margin-left: 10px;
  margin-top: 8px;
  margin-bottom: 7px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

@media (min-width: 758px) {
  .profile__edit-button {
    background-size: 10px;
    width: 24px;
    height: 24px;
    margin-left: 18px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
}