.page {
  background-color: black;
  text-rendering: optimizeLegibility;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .page {
    max-width: 880px;
  }
}