.element__delete {
    margin: 0;
    padding: 0;
    height: 19.3px;
    width: 18px;
    background-color: transparent;
    color: black;
    background-image: url('../../../image/delete.svg');
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 200;
    right: 15px;
    top: 15px;
}

.element__delete:hover {
    opacity: 0.6;
}