.profile {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .profile {
    margin-top: 40px;
    flex-direction: row;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (min-width: 1024px) {
  .profile {
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .profile {
    margin: 0;
    margin-top: 40px;
  }
}