.profile {
  flex-direction: column;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (min-width: 1280px) {
  .profile {
    display: flex;
    margin: 0;
    margin-top: 40px;
  }
}