.profile__info-button {
    justify-content: center;
    width: 18px;
    height: 18px;
    background: transparent;
    background-image: url(../../../image/EditButton.png);
    padding: 0px;
    cursor: pointer;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid white;
    margin-left: 10px;
}
    
.profile__info-button:hover {
    opacity: 0.6;
}
    
@media (min-width: 768px) {
  .profile__info-button {
    width: 24px;
    height: 24px;
    }
}