.header__logo {
  width: 103.74px;
  height: 24.4px;
  padding-bottom: 31.6px;
  margin-top: 28px;
  margin-left: 27px;
}

@media (min-width: 768px) {
  .header__logo {
    width: 142px;
    height: 33px;
    margin: 0;
    margin-top: 45px;
    padding-bottom: 45px;
  }
}