.popup__close {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  top: -36px;
  right: 0;
}
  
@media (min-width: 768px) {
  .popup__close {
    width: 32px;
    height: 32px;
    top: -40px;
    right: -36px;
  }
}

.popup__close:hover {
  opacity: .6;
}