.popup__close {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  top: -36px;
  right: 0;
  background-image: url('../../../image/CloseIcon.svg');
  background-color: transparent;
  background-size: cover;
}

@media (min-width: 768px) {
  .popup__close {
    top: -40px;
    right: -36px;
    width: 32px;
    height: 32px;
  }
}

.popup__close:hover {
  opacity: .6;
}