.element__mask {
  width: 22px;
  height: 19px;
  margin-top: 5px;
  background-color: transparent;
  color: black;
  background-image: url('../../../image/serdce.png');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.element__mask:hover{
    opacity: .5;
}

.element__mask:focus{
  background-image: url(../../../image/UnionActive.png);
}
