.element__mask {
  width: 22px;
  height: 19px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: black;
  background-image: url('../../../image/like.svg');
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.element__mask:hover {
  opacity: .5;
}