.profile__avatar {
  width: 120px;
  height: 120px;
  margin: 0;
  padding: 0;
  margin-top: 42px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 26px;
  border-radius: 65px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .profile__avatar {
    margin: 0;
  }
}