.element__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 23.3px 15px 23.3px 21px;
  text-overflow: ellipsis;
  overflow: hidden;
  align-items: center;
}